body{
    background-color: #FFE6E6;
}


.container h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 80px;
    color: #7469B6;
}
.container p{
    font-size: 35px;
    font-family: serif;
    color: #7469B6;
}
.btn{
    height: 80px;
    width: 250px;
    color: #FFE6E6;
    background-color: #4f4877;
}
.btn:hover{
    background-color: #f39db7 !important;
}
#output{
    color: #7469B6;
}